<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>Robot-Assisted Living Laboratory is a state-of-the-art robotic laboratory lead by<a href="https://jihong-zhu.github.io/">Dr. Jihong Zhu.</a>We are based in the<a href="https://www.york.ac.uk/safe-autonomy/">Institute for Safe Autonomy</a>University of York, the UK. Our lab is committed to advancing the capabilities of robots to empower individuals with diverse abilities in their daily lives. Through a multidisciplinary approach, we combine expertise in control and machine learning to develop robots that seamlessly integrate with the environment and intuitively respond to user needs.<p>  
                    <br>
                    <b>Recent News:</b>
                    <ul>
                      <li><span>&#8226;</span> New PhD studentship on<a href="https://www.findaphd.com/phds/project/a-robot-chemist-that-can-learn-from-humans/?p165767">A Robot Chemist that can Learn from Humans</a> co-supervisors<a href="https://www.york.ac.uk/physics-engineering-technology/people/andy_tyrrell/">Prof. Andy Tyrrell</a>and<a href="https://www.york.ac.uk/chemistry/staff/academic/d-g/ifairlamb/">Prof. Ian Fairlamb.</a>Application deadline: January 05, 2024 </li>  
                      <li><span>&#8226;</span><a href="https://jihong-zhu.github.io/">Dr. Jihong Zhu</a>receives<a href="https://www.cancerresearchuk.org/funding-for-researchers/our-funding-schemes/early-detection-and-diagnosis-primer-award">Early Detection and Diagnosis Primer Award</a>from the<a href="https://www.cancerresearchuk.org/">CRUK</a></li>
                      <li><span>&#8226;</span> Liman Wang (MSc in Intelligent Robotics) and<a href="https://jihong-zhu.github.io/">Dr. Jihong Zhu</a>publised a review article<a href="https://www.mdpi.com/2075-1702/11/11/1013">Deformable Object Manipulation in Caregiving Scenarios: A Review.</a>in<a href="https://www.mdpi.com/journal/machines">MDPI Machines</a></li>
                    </ul>  
                    <br>    
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                US</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>