<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <!-- <div class="column is-one-third-desktop is-one-third-tablet is-one-third-fullhd">
                    <figure class="image">
                        <img class="" src="/assets/images/Lab_image.JPG" alt="">
                    </figure>
                </div> -->
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>Robot-Assisted Living Laboratory is a state-of-the-art robotic laboratory lead by<a href="https://jihong-zhu.github.io/">Dr. Jihong Zhu.</a>We are based in the<a href="https://www.york.ac.uk/safe-autonomy/">Institute for Safe Autonomy</a>University of York, the UK. Our lab is committed to advancing the capabilities of robot manipulators to assist individuals in their daily lives, particularly for elderly and disabled populations. We integrate multiple sensory modalities, including vision and tactile sensing, and employ both control and machine learning to achieve this goal.<p>  
                    <br>
                    <b>Recent News:</b>
                    <ul>
                      <li><span>&#8226;</span> Ms. Sumaya Alsefri join our lab as a PhD student, Welcome!
                      <li><span>&#8226;</span> Dr. Tianyuan Wang and Dr. Ioannis Stefanakos join our lab as a Techician and PDRA for 50% FTE for our CRUK project
                      <li><span>&#8226;</span> Our paper "Do You Need a Hand? - a Bimanual Robotic Dressing Assistance Scheme" by Jihong Zhu, Michael Gienger, Giovanni Franzese, and Jens Kober  was accepted at IEEE Transactions on Robotics! 
                      <li><span>&#8226;</span> Organising ICRA 24 workshop on<a href="https://sites.google.com/york.ac.uk/icra24-co-manipulation/home-page">Exploring Role Allocation in Human-Robot Co-Manipulation</a>
                      <li><span>&#8226;</span><a href="https://jihong-zhu.github.io/">Dr. Jihong Zhu</a>receives<a href="https://www.cancerresearchuk.org/funding-for-researchers/our-funding-schemes/early-detection-and-diagnosis-primer-award">Early Detection and Diagnosis Primer Award</a>from the<a href="https://www.cancerresearchuk.org/">CRUK</a></li>
                    </ul>  
                    <br>    
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                US</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>