<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>Robot-Assisted Living Laboratory is a state-of-the-art robotic laboratory lead by<a href="https://jihong-zhu.github.io/">Dr. Jihong Zhu.</a>We are based in the<a href="https://www.york.ac.uk/safe-autonomy/">Institute for Safe Autonomy</a>University of York, the UK. Our lab is committed to advancing the capabilities of robots to empower individuals with diverse abilities in their daily lives. Through a multidisciplinary approach, we combine expertise in control and machine learning to develop robots that seamlessly integrate with the environment and intuitively respond to user needs. Our mission is to enhance the quality of life for individuals facing mobility challenges, enabling them to regain independence and accomplish tasks with unprecedented ease.<p>  
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                US</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>